body{text-align: center; 
    background: #c22cf0;
    background: radial-gradient(circle,rgba(194, 44, 240, 1) 0%, rgba(240, 44, 191, 1) 25%, rgba(240, 44, 44, 1) 50%, rgba(80, 44, 240, 1) 75%, rgba(0, 0, 0, 1) 100%);
    animation: phase;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@keyframes phase{
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
}
h1{border: solid;
     border-radius: 5px;
    padding: 20px;
    margin-bottom:  150px;
    color: white;
}
h3{color: white;}
#ingredientsList{list-style-type: none;}
li{padding: 20px;
    background: #3a2ab5;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
}
li:hover{color: white;}
#spellArea{padding: 10px; 
    color: white; 
    margin-top: 50px; 
    margin-bottom: 50px;
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;}


button{color: #1e1e1e;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
     border-style: none;
     border-radius: 5px;
     padding: 10px;
     margin-top: 50px;
    }

button:hover {color: #3a2ab5;}